{% extends 'core/base.html' %}
{% load static%}

{% block titulo %}
Fabricación y equipamiento de casa rodante
{% endblock titulo %}

{% block fabricaciones %}
<section class="ftco-section ftco-services ftco-no-pt bg-services">
	<div class="container">
		<div class="row services-section">
			<div class="container-fluid px-md-5">
				<div class="row">
					<div class="col-md-12 testimonial">
						<div class="carousel-pop owl-carousel">
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/motorhome-1.jpg' %}" class="img-fluid-main">
										<a href="{% static 'core/images/motorhome-1.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/motorhome-2.jpg' %}" class="img-fluid-main">
										<a href="{% static 'core/images/motorhome-2.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/motorhome-4.jpg' %}" class="img-fluid-main">
										<a href="{% static 'core/images/motorhome-4.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/motorhome-8.jpg' %}" class="img-fluid-main">
										<a href="{% static 'core/images/motorhome-8.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/motorhome-5.jpg' %}" class="img-fluid-main">
										<a href="{% static 'core/images/motorhome-5.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/motorhome-6.jpg' %}" class="img-fluid-main">
										<a href="{% static 'core/images/motorhome-6.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/motorhome-7.jpg' %}" class="img-fluid-main">
										<a href="{% static 'core/images/motorhome-7.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/motorhome-9.jpg' %}" class="img-fluid-main">
										<a href="{% static 'core/images/motorhome-9.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock fabricaciones %}

{% block js %}

{% endblock js %}