{% extends 'core/base.html' %}
{% load static%}

{% block titulo %}
Fabricación de casilla rodante modelo OFF ROAD
{% endblock titulo %}

{% block fabricaciones %}
<section class="ftco-section ftco-services ftco-no-pt bg-services">
	<div class="container row-cards">
		<div class="row pv-section">
			<div class="container-fluid px-md-5">
				<div class="row">
					<div class="col-md-12 testimonial">
						<div class="carousel-main owl-carousel">
							{% for foto in fotos %}
							<div class="item services">
								<div class="project">
									<div class="pv-galeria">
										<img src="{{foto.imagen.url}}" class="pv-galeria">
										<a href="{{foto.imagen.url}}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock fabricaciones %}