{% extends 'core/base.html' %}
{% load static%}

{% block titulo %}
Fabricación de casilla rodante modelo OFF ROAD
{% endblock titulo %}

{% block fabricaciones %}
<section class="ftco-section ftco-services ftco-no-pt bg-services">
	<div class="container">
		<div class="row pv-section">
			<div class="container-fluid px-md-5">
				<div class="row">
					<div class="col-md-12 testimonial">
						<div class="carousel-main owl-carousel">
							<div class="item">
								<div class="project">
									<div class="pv-galeria">
										<img src="{% static 'core/images/fondo-off-road.jpg' %}" class="pv-galeria">
										<a href="{% static 'core/images/fondo-off-road.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="pv-galeria">
										<img src="{% static 'core/images/project-8.jpg' %}" class="pv-galeria">
										<a href="{% static 'core/images/project-8.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="pv-galeria">
										<img src="{% static 'core/images/off-road-2.jpg' %}" class="pv-galeria">
										<a href="{% static 'core/images/off-road-2.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="pv-galeria">
										<img src="{% static 'core/images/off-road-1.jpg' %}" class="pv-galeria">
										<a href="{% static 'core/images/off-road-1.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock fabricaciones %}