{% extends 'core/base.html' %}
{% load static%}

{% block titulo %}
Fabricación de camper modelo POP UP
{% endblock titulo %}

{% block fabricaciones %}
<section class="ftco-section ftco-services ftco-no-pt bg-services">
	<div class="container">
		<div class="row services-section">
			<div class="container-fluid px-md-5">
				<div class="row">
					<div class="col-md-12 testimonial">
						<div class="carousel-pop owl-carousel">
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/project-6.jpg' %}" class="img-fluid">
										<a href="{% static 'core/images/project-6.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/project-3.jpg' %}" class="img-fluid">
										<a href="{% static 'core/images/project-3.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/fondo-pop-up.jpg' %}" class="img-fluid">
										<a href="{% static 'core/images/fondo-pop-up.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/project-16.jpg' %}" class="img-fluid">
										<a href="{% static 'core/images/project-16.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/pop-up-3.jpg' %}" class="img-fluid">
										<a href="{% static 'core/images/pop-up-3.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/pop-up-4.jpg' %}" class="img-fluid">
										<a href="{% static 'core/images/pop-up-4.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="project">
									<div class="img">
										<img src="{% static 'core/images/project-17.jpg' %}" class="img-fluid">
										<a href="{% static 'core/images/project-17.jpg' %}"
											class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock fabricaciones %}